/*background*/
#background{
	width: :100%;
	height: 100%;
	z-index: -100;
}
#sw_picture{
	position:relative;
	opacity: 0.2;
	width: 40%;
	height: auto;
	right: 0px;
	bottom: 0px;
}

#sidebar{
	display: none;
	width: 20%;
	background-color: #FEC868;
	color: white;
}


/*top bar*/
#topbar{
	position: absolute;
	width:100%;
	height:6%;
	background-color: #ABC270;
	z-index: 10;
}

#topbar_title{
	color: white;
	position: absolute;
	margin-left: 5%;
	margin-top: 0%;
	font-family: "Sofia", sans-serif;
}

#prompts{
	position: relative;
	top:100px;
	width: 80%;
	margin-left: 10%;
}

.team_prompts{
	position: relative;
	margin-left: 10%;
	width: 60%;
}

.main_lists{
	margin-top: 20px;
	margin-bottom: 20px;
}